<appSettings>
  <add key="ThemeName" value="20112016" />
  <add key="smallPhotoWidth" value="400" />
  <add key="smallPhotoHeight" value="250" />
  <add key="mediumPhotoWidth" value="800" />
  <add key="mediumPhotoHeight" value="500" />
  <add key="largePhotoWidth" value="1600" />
  <add key="largePhotoHeight" value="1000" />
</appSettings>